VITE_SUPABASE_PROJECT_ID="lgcxyxyidoirqmbdlldh"
VITE_SUPABASE_PUBLISHABLE_KEY="<anon-key>"
VITE_SUPABASE_URL="https://lgcxyxyidoirqmbdlldh.supabase.co"
VITE_OMIE_WEBHOOK_URL=https://n8n.codless.cloud/webhook/enviar-anexo-omie
